body{
    margin: 0;
    background-color: rgb(231, 236, 236);
}

.outer_row1{
    background-color: rgb(231, 236, 236);
    height: 65vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer_row2{
    background-color: rgb(231, 236, 236);
    height: 40vh;
    width: 100%;

}
.outer_row11{
    margin-top: 150px;
    background-color: white;
    height: 55vh;
    width: 70%;
    box-shadow: 5px 5px 8px grey;
    border-radius: 15px;
    max-width: 350px;
}
.outer_row11_inner1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.outer_row11_inner1 img{
    margin-top: 10px;
    height: 35px;
}
.outer_row11_inner1 label{
    margin-top: -3px;
}
.outer_row11_inner2{
    margin-top: 2px;
    margin-left: 30px;
}
.outer_row11_inner2 label{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    padding-top: -10px;
}
.outer_row11_inner3,
.outer_row11_inner4,
.outer_row11_inner5,
.outer_row11_inner6
{
    margin-left: 30px;
    margin-top: 20px;
}
.outer_row11_inner3 input,
.outer_row11_inner4 input{
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 85%;
    padding: 9px;
    outline: none;
}
.outer_row11_inner5{
    display: flex;
    flex-direction: row;
    font-size: small;
}
.outer_row11_inner5 input{
    margin-top: -5px;
}
.outer_row11_inner5 label,
.outer_row11_inner51 label
{
    font-size: 13px;
    margin-left: 5px;
    font-weight: 150px;
}
.outer_row11_inner51{
    margin-left: 15%;
    color: blueviolet;
}
.outer_row11_inner6 button{
    width: 85%;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 9px;
    background-color: blueviolet;
    color: white;
}
.outer_row2{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.signupText{
    color: blueviolet;
    margin-left: 5px;
}